<html>
<head>
    <style>
    @page  {
  margin: 0;
  size: letter; /*or width x height 150mm 50mm*/
}
#front_page-header{
  background-color:#5097c4;
  height: 2.5em;
}

#front_page-header .letters{
  color: white;
  text-align: center;
  font-size: xx-large;
}

#doc_introduction{
    font-weight: normal;
    text-align-last: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#doc_introduction p{
  margin-top: 15px;
}

.table_introduction{
  width: 100%;
}
  .table_introduction .table_info{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0px;
  }
  .table_introduction table{
    width:100%;
  }

.farm_introduction{
  width: 35%;
  margin-top: 10px;
}
  .farm_introduction .farm_introduction_tab{
  border-collapse: separate;
  border-spacing: 1em;
  width:100%
  }
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
}
  .tg td{
    border-color: black;
    border-style: solid;
    border-width: 0.3px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 0.4em 1em;
    word-break: normal;
  }
    .tg td.tg-30{
      width: 30%;
    }
    .tg td.tg-20{
      width: 20%;
    }
    .tg td.tg-40{
      width: 40;
    }
    .tg th.th-50{
      width: 50%;
    }
    .tg th.th-70{
      width: 70%;;
    }
    .tg th.th-90{
      width: 90%;
    }
    .tg td.tg-bold{
      font-weight:bold;
      text-align: center;
    }
    .tg td.tg-cent{
      text-align: center;
    }
    .tg td.tg-no_bot_bor{
      border-bottom: none;
    }
    .tg td.tg-no_top_bor{
      border-top: none;
    }
    .tg tr.tg-double_high{
        height: 4em
    }
    .tg th{
      border-color: black;
      border-style: solid;
      border-width: 0.3px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      /* padding: 2em 9em; */
      word-break: normal;
    }
        </style>
</head>
<body>
    <div id="front_page">
        <div id="front_page-header">
            <div class="letters">
                <p>Poultry processing industry</p>
            </div>
        </div>
        <div id="doc_introduction">
            <div class="table_introduction">
                <div class="table_info">
                    <p>Informacje dotyczące łańcucha żywieniowego zwierząt do uboju</p>
                    <p>Firma: xxx Nr Kurnika:123</p>
                </div>
            </div>
        </div>
        <div id="doc_main_content">
             <table class="tg">
                <thead>
                  <tr>
                    <th class="th-50" colspan="5">Wypełnia właściciel</th>
                    <th class="th-50" colspan="5">Wypełnia rzeźnia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="tg-30" colspan="3">Nazwisko</td>
                    <td class="tg-20" colspan="2">${pt:farmOwnerFirstName}</td>
                    <td class="tg-30" colspan="3">Dostarczono do uboju</td>
                    <td class="tg-20" colspan="2"></td>
                  </tr>
                 <tr>
                    <td class="tg-30" colspan="3">Imię</td>
                    <td class="tg-20"colspan="2">${pt:farmOwnerSurname}</td>
                    <td class="tg-30" colspan="3">Poddano ubojowi</td>
                    <td class="tg-20"colspan="2"></td>
                  </tr>
                  <tr>
                    <td class="tg-30" colspan="3">Kod pocztowy, Poczta</td>
                    <td class="tg-20"colspan="2">${pt:farmZipCode}</td>
                    <td class="tg-50" colspan="5">Wypełnia urząd lek. wet.</td>
                  </tr>
                  <tr>
                    <td class="tg-30" colspan="3">Miejscowość</td>
                    <td class="tg-20"colspan="2">${pt:farmCity}</td>
                    <td class="tg-50" colspan="5">Badania przedubojowe - data:</td>
                  </tr>
                  <tr>
                    <td class="tg-30"colspan="3">ulica, nr domu</td>
                    <td class="tg-20"colspan="2">${pt:farmStreet}</td>
                    <td class="tg-30"colspan="3">Poz. Dz:</td>
                    <td class="tg-20"colspan="2"></td>
                  </tr>
                  <tr>
                    <td class="tg-30"colspan="3">Nr gospodarstwa **</td>
                    <td class="tg-20"colspan="2">Kurnik nr: ${pt:farmId}</td>
                    <td class="tg-50" colspan="5">Badanie poubojowe - data:</td>
                  </tr>
                  <tr>
                    <td class="tg-30"colspan="3">Nr NIP</td>
                    <td class="tg-20"colspan="2">${pt:farmOwnerNIP}</td>
                    <td class="tg-30"colspan="3">Poz. Dz:</td>
                    <td class="tg-20"colspan="2"></td>
                  </tr>
                  <tr>
                    <td colspan="10">Adres, nazwa oraz numer weterynaryjny wylęgarni: ${pt:farmBreedingGroundAddress} ${pt:farmBreedingGroundName}</td>
                  </tr>
                  <tr>
                    <td class="tg-bold" colspan="10">Deklaracja właściciela</td>
                  </tr>
                  <tr>
                    <td class="tg-30"colspan="3">Zwierzęta wywożone do rzeźni: </td>
                    <td class="tg-30" colspan="3">Gatunek kurcząt brojkery. Rasa: ${pt:herdRace}</td>
                    <td class="tg-20" colspan="2">Liczba zwierząt: ${pt:herdQuantity}</td>
                    <td class="tg-20" colspan="2">Data wstawiania: ${pt:herdData}</td>
                  </tr>
                  <tr>
                    <td colspan="10">Czy zwierzęta były leczone:
                      <input type="checkbox" ${pt:herdMedicals}>
                      jeśli zaznaczono, to wypełnij poniżej:
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="6" colspan="2" class="tg-20">Stosowane preparaty lecznicze dla których określono okresy karencji</td>
                    <td colspan="3" class="tg-30 tg-cent">Nazwa</td>
                    <td colspan="4" class="tg-40 tg-cent">Czas podawania</td>
                    <td colspan="2" class="tg-20 tg-cent">Kuracja do</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="tg-30">${pt:herdMedicals$1}</td>
                    <td class="tg-cent">od</td>
                    <td>${pt:herdMedicalsApplyingDatesFrom$1}</td>
                    <td class="tg-cent">do</td>
                    <td>${pt:herdMedicalsApplyingDatesTo$1}</td>
                    <td>${pt:herdMedicalsTreatmentDates$1}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="tg-30">${pt:herdMedicals$2}</td>
                    <td class="tg-cent">od</td>
                    <td>${pt:herdMedicalsApplyingDatesFrom$2}</td>
                    <td class="tg-cent">do</td>
                    <td>${pt:herdMedicalsApplyingDatesTo$2}</td>
                    <td>${pt:herdMedicalsTreatmentDates$2}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="tg-30">${pt:herdMedicals$3}</td>
                    <td class="tg-cent">od</td>
                    <td>${pt:herdMedicalsApplyingDatesFrom$3}</td>
                    <td class="tg-cent">do</td>
                    <td>${pt:herdMedicalsApplyingDatesTo$3}</td>
                    <td>${pt:herdMedicalsTreatmentDates$3}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="tg-30">${pt:herdMedicals$4}</td>
                    <td class="tg-cent">od</td>
                    <td>${pt:herdMedicalsApplyingDatesFrom$4}</td>
                    <td class="tg-cent">do</td>
                    <td>${pt:herdMedicalsApplyingDatesTo$4}</td>
                    <td>${pt:herdMedicalsTreatmentDates$4}</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="tg-30">${pt:herdMedicals$5}</td>
                    <td class="tg-cent">od</td>
                    <td>${pt:herdMedicalsApplyingDatesFrom$5}</td>
                    <td class="tg-cent">do</td>
                    <td>${pt:herdMedicalsApplyingDatesTo$5}</td>
                    <td>${pt:herdMedicalsTreatmentDates$5}</td>
                  </tr>
                  <tr>
                    <td class="tg-20" colspan="2" rowspan="2">Nazwisko lekarza sprawującego opiekę nad stadem</td>
                    <td class="tg-30" colspan="3" rowspan="2">${pt:wetSurname}</td>
                    <td class="tg-20 tg-no_bot_bor" colspan="2">Miejscowość</td>
                    <td class="tg-30 tg-no_bot_bor" colspan="3">Nr telefonu lekarza</td>
                  </tr>
                  <tr class="tr-no_top_bor">
                    <td class="tg-20 tg-no_top_bor" colspan="2">${pt:wetCity}</td>
                    <td class="tg-30 tg-no_top_bor" colspan="3">${pt:wetPhoneNumber}</td>
                  </tr>
                  <tr>
                    <td class="tg-50" colspan="5" rowspan="4">Czy gospodarstwo było objęte rygorem zwalczania chorób zakaźnych i/lub stwierdzano choroby mogące mieć wpływ na bezpieczeństwo żywności</td>
                    <td class="tg-50" colspan="5">
                      <input type="checkbox" ${pt:ifAnyMedicalIssuesInPass}>
                      jeśli zaznaczono, to wypełnij poniżej:
                    </td>
                  </tr>
                  <tr>
                    <td class="tg-20" colspan="2">Gatunek zwierząt</td>
                    <td class="tg-30" colspan="3">${pt:historicTreatRace}</td>
                  </tr>
                  <tr>
                    <td class="tg-20" colspan="2">Choroba</td>
                    <td class="tg-30" colspan="3">${pt:historicIssues}</td>
                  </tr>
                  <tr>
                    <td class="tg-20" colspan="2">Do kiedy</td>
                    <td class="tg-30" colspan="3">${pt:historicDiseaseDurationTo}</td>
                  </tr>
                  <tr>
                    <td class="tg-50" colspan="5">Czy u zwierząt poddanych dotychczas ubojowi stwierdzono choroby</td>
                    <td class="tg-20" colspan="2"><input type="checkbox" ${pt:ifAnyMedicalIssuesInButcheredHerds}></td>
                    <td class="tg-30" colspan="3">Jeśli tak to jakie - ${historicDiseaseInButcheredHerds}</td>
                  </tr>
                  <tr>
                    <td class="tg-50" colspan="5">Czy w gospodarstwie zapewniono dobrstan zwierząt</td>
                    <td class="tg-20" colspan="2" ${pt:ifHerdWellBeingProvided}><input type="checkbox" ${pt:ifHerdWellBeingProvided}></td>
                  </tr>
                  <tr>
                    <td rowspan="4">Żywienie zwierząt</td>
                    <td class="tg-90" colspan="9">Rodzaj paszy</td>
                  </tr>
                  <tr>
                    <td>od</td>
                    <td>${pt:starterFeedTimeFrom}</td>
                    <td>do</td>
                    <td>${pt:starterFeedTimeTo}</td>
                    <td class="tg-50" colspan="5">Starter: ${pt:starterName}</td>
                  </tr>
                  <tr>
                    <td>od</td>
                    <td>${pt:growerFeedTimeFrom}</td>
                    <td>do</td>
                    <td>${pt:growerFeedTimeTo}</td>
                    <td class="tg-50" colspan="5">Grower: ${pt:growerName}</td>
                  </tr>
                  <tr>
                    <td>od</td>
                    <td>${pt:finisherFeedTimeFrom}</td>
                    <td>do</td>
                    <td>${pt:finisherFeedTimeTo}</td>
                    <td class="tg-50" colspan="5">Finiszer: ${pt:finisherName}</td>
                  </tr>
                  <tr>
                    <td class="tg-50" colspan="5">Pochodzenie paszy otrzymanej przez zwierzęta</td>
                    <td class="tg-50" colspan="5">${pt:foodSource}</td>
                  </tr>
                  <tr>
                    <td>Dodatki paszowe - TODO</td>
                    <td class="tg-40" colspan="4">Nazwa</td>
                    <td class="tg-50" colspan="5">Pasza</td>
                  </tr>
                  <tr>
                    <td class="tg-30 tg-no_bot_bor" colspan="3">Miejscowość</td>
                    <td class="tg-20 tg-no_bot_bor" colspan="2">Data</td>
                    <td class="tg-50 tg-no-bot_bor" colspan="5">Czytelny podpis właściciela - zarządzającego</td>
                  </tr>
                  <tr class="tg-double_high">
                    <td class="tg-30 tg-no_top_bor" rowspan="2" colspan="3">${pt:signCity}</td>
                    <td class="tg-20 tg-no_top_bor" rowspan="2" colspan="2">${pt:signDate}</td>
                    <td class="tg-50 tg-no_top_bor" rowspan="2" colspan="5"></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>