<?xml version='1.0' encoding='UTF-8'?>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style type='text/css'>
* { font-family: courier; }

    @page  {
  margin: 0;
  size: letter; /*or width x height 150mm 50mm*/
}


#doc_introduction{
    font-weight: normal;
    text-align-last: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#doc_introduction p{
  margin-top: 15px;
}

.table_introduction{
}
  .table_introduction .table_info{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0px;
  }
  .table_introduction table{
    width:100%;
  }

.farm_introduction{
  width: 35%;
  margin-top: 10px;
}
  .farm_introduction .farm_introduction_tab{
  border-collapse: separate;
  border-spacing: 1em;
  width:100%
  }
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
  table-layout: fixed;
}
  .tg td{
    border-color: black;
    border-style: solid;
    border-width: 0.3px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    overflow: hidden;
    padding: 0.2em 0.3em;
    word-break: normal;
  }
    .tg .row{
        height:24px;
    }
    .tg .td.wrap{
      overflow-wrap: break-word;
    }
    .tg th.th-50{
      width: 50%;
    }
    .tg td.tg-bold{
      font-weight:bold;
      text-align: center;
    }
    .tg td.tg-cent{
      text-align: center;
    }
    .tg td.tg-no_bot_bor{
      border-bottom: none;
    }
    .tg td.tg-no_top_bor{
      border-top: none;
    }
    .tg tr.tg-double_high{
        height: 4em
    }
    .tableHeader{
      border-color: black;
      border-style: solid;
      border-width: 0.3px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      /* padding: 2em 9em; */
      word-break: normal;
    }
    .docHeader{
          font-family: Arial, sans-serif;
          font-size: 16px;
          overflow: hidden;
          padding: 0em 1em 2em 1em;
    }
        </style>
</head>
<body>
<div id="front_page">
    <div id="doc_introduction">
        <div class="table_introduction">
            <div class="table_info">
                <table class="tg">
                    <thead>
                        <tr>
                            <th class="th-50 docHeader" colspan="5">Informacje dotyczące łańcucha żywieniowego zwierząt do uboju</th>
                            <th class="th-50 docHeader" colspan="5">Ferma: ${pt:farmName} Nr Kurnika: ${pt:chickenHouseNumber}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="doc_main_content">
        <table class="tg">
            <thead>
            <tr>
                <th class="th-50 tableHeader" colspan="5">Wypełnia właściciel Adres fermy: ${pt:farmAddress}</th>
                <th class="th-50 tableHeader" colspan="5">Wypełnia rzeźnia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3"><div class=row>Nazwisko</div></td>
                <td colspan="2"><div class=row>${pt:farmOwnerFirstName}</div></td>
                <td colspan="3"><div class=row>Dostarczono do uboju</div></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3"><div class=row>Imię</div></td>
                <td colspan="2"><div class=row>${pt:farmOwnerSurname}</div></td>
                <td colspan="3"><div class=row>Poddano ubojowi</div></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3"><div class=row>Kod pocztowy, Poczta</div></td>
                <td colspan="2"><div class=row>${pt:farmZipCode}</div></td>
                <td class="tg-bold" colspan="5"><div class=row>Wypełnia urząd lek. wet.</div></td>
            </tr>
            <tr>
                <td colspan="3"><div class=row>Miejscowość</div></td>
                <td colspan="2"><div class=row>${pt:farmCity}</div></td>
                <td colspan="5"><div class=row>Badania przedubojowe - data:</div></td>
            </tr>
            <tr>
                <td colspan="3"><div class=row>ulica, nr domu</div></td>
                <td colspan="2"><div class=row>${pt:farmStreet}</div></td>
                <td colspan="3"><div class=row>Poz. Dz:</div></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="3"><div class=row>Nr gospodarstwa **</div></td>
                <td colspan="2"><div class=row>${pt:farmId} Kurnik nr: ${pt:chickenHouseNumber}</div></td>
                <td colspan="5"><div class=row>Badanie poubojowe - data:</div></td>
            </tr>
            <tr>
                <td colspan="3"><div class=row>Nr NIP</div></td>
                <td colspan="2"><div class=row>${pt:farmOwnerNIP}</div></td>
                <td colspan="3"><div class=row>Poz. Dz:</div></td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="10"><div class=row>Adres, nazwa oraz numer weterynaryjny wylęgarni: ${pt:farmBreedingGroundAddress} ${pt:farmBreedingGroundName} ${pt:farmBreedingGroundId}</div></td>
            </tr>
            <tr>
                <td class="tg-bold" colspan="10"><div class=row>Deklaracja właściciela</div></td>
            </tr>
            <tr>
                <td colspan="3"><div class="row tg-cent">Zwierzęta wywożone do rzeźni: </div></td>
                <td colspan="3"><div class=row>Gatunek kurcząt brojlery. Rasa: ${pt:herdRace}</div></td>
                <td colspan="2"><div class=row>Liczba zwierząt: ${pt:herdQuantity}</div></td>
                <td colspan="2"><div class=row>Data wstawienia: ${pt:herdDeploymenDate}</div></td>
            </tr>
            <tr>
                <td colspan="10">
                    <div class=row>Czy zwierzęta były leczone:
                        <input type="checkbox">${pt:ifAnimalsWereTreated} jeśli zaznaczono, wypełnij poniżej:
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="6" colspan="1" class="tg-cent"><div class="row wrap">Stosowane preparaty lecznicze dla których określono okresy karencji</div></td>
                <td colspan="4" class="tg-40 tg-cent"><div class=row>Nazwa</div></td>
                <td colspan="4" class="tg-40 tg-cent"><div class=row>Czas podawania</div></td>
                <td colspan="1" class="tg-cent"><div class=row>Kurencja do</div></td>
            </tr>
            <tr>
                <td colspan="4" class="tg-40"><div class=row>${pt:herdMedicals_1}</div></td>
                <td colspan="1" class="tg-cent"><div class=row>od</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesFrom_1}</td>
                <td colspan="1" class="tg-cent"><div class=row>do</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesTo_1}</td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsTreatmentDates_1}</td>
            </tr>
            <tr>
                <td colspan="4" class="tg-40"><div class=row>${pt:herdMedicals_2}</div></td>
                <td colspan="1" class="tg-cent"><div class=row>od</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesFrom_2}</td>
                <td colspan="1" class="tg-cent"><div class=row>do</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesTo_2}</td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsTreatmentDates_2}</td>
            </tr>
            <tr>
                <td colspan="4" class="tg-40"><div class=row>${pt:herdMedicals_3}</div></td>
                <td colspan="1" class="tg-cent"><div class=row>od</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesFrom_3}</td>
                <td colspan="1" class="tg-cent"><div class=row>do</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesTo_3}</td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsTreatmentDates_3}</td>
            </tr>
            <tr>
                <td colspan="4" class="tg-40"><div class=row>${pt:herdMedicals_4}</div></td>
                <td colspan="1" class="tg-cent"><div class=row>od</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesFrom_4}</td>
                <td colspan="1" class="tg-cent"><div class=row>do</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesTo_4}</td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsTreatmentDates_4}</td>
            </tr>
            <tr>
                <td colspan="4" class="tg-40"><div class=row>${pt:herdMedicals_5}</div></td>
                <td colspan="1" class="tg-cent"><div class=row>od</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesFrom_5}</td>
                <td colspan="1" class="tg-cent"><div class=row>do</div></td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsApplyingDatesTo_5}</td>
                <td colspan="1" class="tg-cent">${pt:herdMedicalsTreatmentDates_5}</td>
            </tr>
            <tr>
                <td colspan="2" rowspan="2"><div class="row tg-cent">Nazwisko lekarza sprawującego opiekę nad stadem</div></td>
                <td colspan="3" rowspan="2"><div class=row>${pt:wetSurname}</div></td>
                <td class="tg-20 tg-no_bot_bor tg-cent" colspan="2"><div class=row>Miejscowość</div></td>
                <td class="tg-30 tg-no_bot_bor tg-cent" colspan="3"><div class=row>Nr telefonu lekarza</div></td>
            </tr>
            <tr class="tr-no_top_bor">
                <td class="tg-20 tg-no_top_bor" colspan="2"><div class=row>${pt:wetCity}</div></td>
                <td class="tg-30 tg-no_top_bor" colspan="3"><div class=row>${pt:wetPhoneNumber}</div></td>
            </tr>
            <tr>
                <td colspan="5" rowspan="4"><div class=row>Czy gospodarstwo było objęte rygorem zwalczania chorób zakaźnych i/lub stwierdzano choroby mogące mieć wpływ na bezpieczeństwo żywności</div></td>
                <td colspan="5"><input type="checkbox">${pt:ifAnyMedicalIssues} jeśli zaznaczono, to wypełnij poniżej:</td>
            </tr>
            <tr>
                <td colspan="2"><div class=row>Gatunek zwierząt</div></td>
                <td colspan="3"><div class=row>${pt:treatRace}</div></td>
            </tr>
            <tr>
                <td colspan="2"><div class=row>Choroba</div></td>
                <td colspan="3"><div class=row>${pt:historicIssues}</div></td>
            </tr>
            <tr>
                <td colspan="2"><div class=row>Do kiedy</div></td>
                <td colspan="3"><div class=row>${pt:historicDiseaseDurationTo}</div></td>
            </tr>
            <tr>
                <td colspan="5"><div class=row>Czy u zwierząt poddanych dotychczas ubojowi stwierdzono choroby</div></td>
                <td colspan="2"><input type="checkbox">${pt:ifAnyMedicalIssuesInButcheredHerds}</td>
                <td colspan="3"><div class=row>Jeśli tak to jakie - ${pt:historicDiseaseInButcheredHerds}</div></td>
            </tr>
            <tr>
                <td colspan="5"><div class=row>Czy w gospodarstwie zapewniono dobrstan zwierząt</div></td>
                <td colspan="2"><input type="checkbox">${pt:ifHerdWellBeingProvided}</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td rowspan="4"><div class=row>Żywienie zwierząt</div></td>
                <td class="tg-90 tg-cent tg-bold" colspan="9"><div class="row">Rodzaj paszy</div></td>
            </tr>
            <tr>
                <td colspan="2"><div class=row>od ${pt:starterFeedTimeFrom}</div></td>
                <td colspan="2"><div class=row>do ${pt:starterFeedTimeTo}</div></td>
                <td colspan="6"><div class=row>Starter: ${pt:starterType}</div></td>
            </tr>
            <tr>
                <td colspan="2"><div class=row>od ${pt:growerFeedTimeFrom}</div></td>
                <td colspan="2"><div class=row>do ${pt:growerFeedTimeTo}</div></td>
                <td colspan="6"><div class=row>Grower: ${pt:growerType}</div></td>
            </tr>
            <tr>
                <td colspan="2"><div class=row>od ${pt:finisherFeedTimeFrom}</div></td>
                <td colspan="2"><div class=row>do ${pt:finisherFeedTimeTo}</div></td>
                <td colspan="6"><div class=row>Finiszer: ${pt:finisherType}</div></td>
            </tr>
            <tr>
                <td colspan="5"><div class=row>Pochodzenie paszy otrzymanej przez zwierzęta</div></td>
                <td colspan="5"><div class=row>${pt:foodSource}</div></td>
            </tr>
            <tr>
                <td rowspan="3">Dodatki paszowe</td>
                <td colspan="4"><div class="row tg-cent">Nazwa</div></td>
                <td colspan="5"><div class="row tg-cent">Pasza</div></td>
            </tr>
            <tr>
                <td colspan="4"><div class=row>${pt:foodExtras_1}</div></td>
                <td colspan="5"><div class=row>starter: ${pt:starterName}</div></td>
            </tr>
            <tr>
              <td colspan="4"><div class=row>${pt:foodExtras_2}</div></td>
              <td colspan="5"><div class=row>grower: ${pt:growerName}</div></td>
            </tr>
            <tr>
              <td colspan="5"><div class=row>Czy na terenie gospodarstwa pobierano próbki do badań monitoringowych pozostałości biologicznych i chemicznych</div></td>
              <td colspan="1"><div class=row></div><input type="checkbox">${pt:ifSamplesWereTaken}</td>
              <td colspan="4"><div class=row></div>${pt:medicalSamplesBioOrChem}</td>
            </tr>
            <tr>
                <td colspan="5"><div class=row>Czy na terenie gospodarstwa stwierdzono wyniki dodatnie</div></td>
                <td colspan="1"><div class=row></div><input type="checkbox">${pt:ifSamplesWarePositive}</td>
                <td colspan="4"><div class=row></div>Jeśli tak to kiedy ${pt:whenSamplesWerePositive}</td>
            </tr>
            <tr>
                <td class="tg-30 tg-no_bot_bor" colspan="3"><div class=row>Miejscowość</div></td>
                <td class="tg-20 tg-no_bot_bor" colspan="2"><div class=row>Data</div></td>
                <td class="tg-50 tg-no_bot_bor" colspan="5"><div class=row>Czytelny podpis właściciela - zarządzającego</div></td>
            </tr>
            <tr class="tg-double_high">
                <td class="tg-30 tg-no_top_bor" rowspan="2" colspan="3"><div class=row>${pt:signCity}</div></td>
                <td class="tg-20 tg-no_top_bor" rowspan="2" colspan="2"><div class=row>${pt:signDate}</div></td>
                <td class="tg-50 tg-no_top_bor" rowspan="2" colspan="5"><div class="row"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>